.index-page{
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.search-bar-container{
    height: 50px;
    background-color: lavender;
}

.index-container{
    height:1950px;
    display: flex;
    flex-direction: row;
}
.index-filters-container{
    width: 22%;
    display: flex;
    flex-direction: column;
    
}
.index-filters-items{
    display: flex;
    flex-direction: column;
}
.index-body-container{
    
    width: 78%;
    display: flex;
    flex-wrap: wrap;
}
.coffee-index-item{
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 30%;
    min-width: 280px;
    height: 420px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.coffee-index-img{
    height:65%;
    width: 100%;
}
.coffee-index-text{
    height: 35%;
    width: 100%;
    padding: 0% 5%;
}
.coffee-index-flavors{
    padding-bottom: 2%;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    color: rgb(154, 154, 154);
    font-weight: 700;
}
.coffee-index-roaster{
    margin-top: 2%;
}
.coffee-index-name{
    font-size: 20px;
    font-weight: 700;
}
.coffee-index-price{
    padding-top: 1%;
    color: rgb(154, 154, 154);
    font-weight: 500;
}