.index-page{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.search-bar-container{
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.search-bar-container input{
    font-size: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-left:2%;
    width: 19%;
    height: 70px;
    background-color: white;
}
.index-container{
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.index-filters-container{
    padding-top: 0%;
    padding-left: 2%;
    padding-bottom: 2%;
    width: 22%;
    display: flex;
    flex-direction: column;
}
.index-filters-items{
    display: flex;
    flex-direction: column;
}
.index-filters-cat{
    margin-top: 15px;
    margin-bottom: 5px;
}
.index-filters-items label{
    padding:3px;
    font-weight: 300;
}
.index-filters-items form{
    display: flex;
    flex-direction: column;
    padding:3px;
    font-weight: 300;
}

// .custom-checkbox{
//     position: absolute;
//     margin-right: 10px;
//     border: 1px solid black;
//     border-radius: 2px;
//     width: 12px;
//     height: 12px;
//     transform: translateY(-18px);
// }


.index-body-container{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.coffee-index-item{
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 30%;
    min-width: 280px;
    height: 420px;
    margin: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
.coffee-index-item:hover{
    cursor: pointer;
}
.coffee-index-img{
    height:65%;
    width: 100%;
}
.coffee-index-text{
    height: 35%;
    width: 100%;
    padding: 0% 5%;
}
.coffee-index-flavors{
    padding-bottom: 2%;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
    color: rgb(154, 154, 154);
    font-weight: 700;
}
.coffee-index-roaster{
    margin-top: 2%;
}
.coffee-index-name{
    font-size: 20px;
    font-weight: 700;
}
.coffee-index-price{
    padding-top: 1%;
    color: rgb(154, 154, 154);
    font-weight: 500;
}
.coffee-index-item{
    color: black;
    text-decoration: none;
}
