.linkedin-logo{
    height: 58px;
    width: auto;
}

.foot {
        width: 100%;
        display: flex;
        background-color: #1e8ced;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        align-items: center;
    }