    .homepage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        font-size: 120px;
        text-align: center;
        background-color: #1e8ced ;
    }
    .home-title-backdrop{
        height: 700px;
    }
    .quiz-link-button{
        display: flex;
        font-weight: 900;
        background-color:transparent;
        border-radius: 4px;
        border: solid 1px #000;
        font-size: 12px;
        height: 36px;
        letter-spacing: normal;
        width: 119px;
        text-align: center;
        text-transform: uppercase;
        
        cursor: pointer;
        transition-property: background, color, border-color;
        transition-duration: 250ms, 250ms;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
    }
    .quiz-link-button:hover{
        color: #1e8ced ;
        border-color: #1e8ced;
        background-color: white;
    }
    .homepage-header{
        letter-spacing: 3px;
        color: white;
        position: fixed;
        font-size: 100px;
        width: 50%;
        z-index: 0;
        top: 90px;
    }

    .para-element{
        position: fixed;
        transform: translateY(0px);
        width: 100%;
        height: inherit;
    }
    .home-img-top-left{
        position: fixed;
        left: -3%;
        top: -5px;
        width: 25%; 
        height: auto;
        z-index: 2;
    }
    .home-img-top-right{
        position: fixed;
        right: -3%;
        top: 0px;
        width: 25%;
        height: auto;
        z-index: 2;
    }
    .home-img-bottom-left{
        position: fixed;
        left: 18%;
        top: 400px;
        width: 20%;
        height: auto;
        z-index: 2;
    }
    .home-img-bottom-right{
        position: fixed;
        right: 12%;
        top: 435px;
        width: 35%;
        height: auto;
        z-index: 2;
    }
    .quiz-link-button-link{
        height: 50px;
        display: block;
        z-index: 1;
        text-decoration: none;
    }

    .home-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
  
    .how-header-text{
        font-size: 72px;
        color: rgb(46, 46, 46);
        z-index: 1;
    }
    .how-header{
        z-index: 5;
    }
    .how-part{
        display: flex;
        flex-direction: column;
        background-color: rgb(238, 238, 238);
        border-radius: 6px;
        width: 55%;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        margin: 10px;
        z-index: 2;
    }
    .how-part-head{
        font-size: 36px;
        margin: 0px;
    }
    .how-part-sub{
        font-size: 22px;
        margin: 0px;
    }
    .how-part-body{
        font-size: 16px;
        font-weight: 500;
        margin: 0px;
    }
    .homepage-para-part{
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .head-arrow{
        color: white;
        top: 600px;
        font-size: 200px;
        transition-property:transform;
        transition-duration: 250ms, 250ms;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
        cursor: pointer;
        z-index: 1;
        height: 75px;
        width: 100px;
        margin: 0;
        padding: 0;
    }
    .head-arrow:hover{
        transform: translateY(10px);
        cursor: pointer;
    }
    .link-wrapper{
        display: flex;
        height: 38px;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .how-part-button-group{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }