
.logo-div{
    text-decoration: none;
    color: black;
}
.logo-link{
    text-decoration: none;
    color: black;
}

.nav-button{
        background-color:transparent;
        border-radius: 4px;
        border: solid 1px #000;
        font-size: 12px;
        height: 36px;
        letter-spacing: normal;
        line-height:  normal;
        width: 119px;
        text-align: center;
        transition-property: background, color;
        transition-duration: 500ms, 500ms;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 500;
        margin: 0px 4px;
    }
 .nav-button:hover{
        background-color: white;
        border-color: #1e8ced;
        color: #1e8ced
    }
    .navbar:hover{
        background-color: white;
        border-color: #1e8ced;
    }

    .logo-div{
        font-size: 24px;
        font-weight: 900;
    }