.quiz-button{
    display: flex;
    flex-direction: column;
   
    height: 132px;
    width: 49%;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px rgb(160, 160, 160);
    margin: 0.5%;
    padding: 20px;
}
.quiz-button:hover{
    height: 132px;
    width: 49%;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px black;
}
.questions-container{
    margin: 5%;
    display: flex;
    width: 100%;    
    flex-wrap: wrap;
    margin-bottom:2.5%;
}
.question-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: white;
}

.quiz-image{
    right: -150px;
    height: 400px;
    width: 400px;
    z-index: 1;
    position: absolute;
    top: 50px;
    vertical-align: middle;
    box-sizing: border-box; 
}

.quiz-header-container{
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
}
.quiz-number{
    margin: 0px;
    font-size: 13px;
}
.quiz-header{
    font-size: 62px;
    max-width: 55%;
    margin-top: 0;
    letter-spacing: 0px;
}
.quiz-head{
    font-size: 20px;
    text-align: left;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.quiz-body{ 
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.why-it-matters-container{
    margin:5%;
    padding-left:4px;
    margin-top: 0%;
}