/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    *{
        box-sizing: border-box
    }
    .app{
        display: flex;
        flex-direction: column;
        margin: 0px;
        align-items: center;
    }
    .navbar, .foot {
        width: 100%;
        display: flex;
        background-color: #337ab7;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        align-items: center;
    }

    .foot {
        height: 150px;
    }

    .navbar {
        height: 75px;
    }

    .auth-tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .auth-tabs button{
        display: block;
        border-bottom: 4px solid #000;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        height: 72px;
        line-height: 68px;
        width: 240px;
        font-size: 28px;
        text-align: center;
        border-style: solid;
        background-color: white;
    }
    .auth-page{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .auth-form-container {
        display: flex;
        justify-content: center;

    }
    .session-form-field-input{
        border: 1px solid #ccc;
    }

    .session-form-field-label{
            padding: 10px;
        }
    .session-form-form{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }