/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
    *{
        font-family: 'Montserrat', sans-serif;;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
   
    input:focus {
    outline:none;
    }   
    button:focus {
    outline:none;
    }  
    body{
        margin: 0px;
    }
    .app{
        display: flex;
        flex-direction: column;
        margin: 0px;
        align-items: center;
        background-color: white;
    }
    .navbar{
        width: 100%;
        display: flex;
        background-color: #1e8ced;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
        align-items: center;
    }

    .foot {
        height: 200px;
        background-color: #1e8ced;
        z-index: 1;
    }

    .navbar {
        height: 60px;
        transition-property: background, color;
        transition-duration: 500ms, 500ms;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
        padding: 10px;
    }

    .auth-tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .auth-tabs button{
        display: block;
        cursor: pointer;
        height: 72px;
        line-height: 68px;
        font-weight: 900;
        width: 240px;
        font-size: 28px;
        text-align: center;
        border-style: solid;
        background-color: white;
    }
    .tab-inactive{
        border-width: 0px;
        border-bottom: 4px solid rgb(199, 199, 199);
        border-style: solid;
    }
    .tab-active{
        border-width: 0px;  
        border-bottom: 4px solid #000;
    }
    .auth-page{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
        height: 420px;
        width: 480px;
    }
    .session-form-field-input{
        border: 1px solid #ccc;
        height: 60px;
        padding-left: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        font-size: 18px;
        line-height: 1.3333;
      
        font-weight: 100;
        box-shadow: none;
        width: 100%;
    }

    .session-form-field-name{
            box-sizing: border-box;
            width: 90%;
            padding: 0px;
            color: #949494;
            font-size: 12px;
            line-height: 2;
            text-transform: uppercase;
          
        }
    .session-form-form{
         box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn{
        box-sizing: border-box;    
        background-color: #1e8ced;
        color: white;
        letter-spacing: 0.75px;
        border-radius: 4px;
        font-size: 15px;
        line-height: 1.3333;
        width: 90%;
        margin-bottom: 25px;
        margin-top: 25px;
        height: 44px;
        
    }
    .auth-error{
        color: tomato;
        font-size: 12px;
        font-weight: 500;
       
        margin: 5px; 
        text-transform: uppercase;
    }
    .error-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 20px;
        width: 100%;
           
    }

    
   

    

   

.auth-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(77, 77, 77, 0.7);
  z-index: 10;
}

.modal-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.close-mod{
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 30px;
    padding-right:23px;
    cursor: default;
}

.button-2{
    background-color:transparent;
        border-radius: 4px;
        border: solid 1px #000;
        font-size: 12px;
        height: 36px;
        letter-spacing: normal;
        line-height:  normal;
        width: 119px;
        text-align: center;
        transition-property: background-color, color;
        transition-duration: 500ms, 500ms;
        transition-timing-function: ease, ease;
        transition-delay: 0s, 0s;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 500;
        margin: 0px 4px;
        z-index: 1;
}
.button-2:hover{
    background-color: #1e8ced;
    border-color: #1e8ced;
    color: white;
}
.cart-button{
    margin: 5%;
    width: 90%;
}
   